@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefcf8;
  --foreground: #5c4c3c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
